# Ignore virtual environment
.venv/

# Ignore sensitive config files
src/config.py

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore data files (if you don’t want them in version control)
data/raw/
data/processed/

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/
